Pods/YandexMapsMobile/YandexMapsMobile.xcframework/ios-x86_64_arm64-simulator/YandexMapsMobile.framework filter=lfs diff=lfs merge=lfs -text
Pods/YandexMapsMobile/YandexMapsMobile.xcframework/ios-arm64/YandexMapsMobile.framework filter=lfs diff=lfs merge=lfs -text
