# Xcode
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Ignore specific directories
Pods/YandexMapsMobile/

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output